<header class="navbar">
  <div class="inner">
    <a class="brand" routerLink="/" (click)="close()">
      <span class="dot"></span>
      <span>ProFinder</span>
    </a>

    <nav class="links">
      <a routerLink="/professionals" routerLinkActive="active" (click)="close()">Professionals</a>
      <a routerLink="/login" routerLinkActive="active" (click)="close()">Login</a>
      <a routerLink="/register" routerLinkActive="active" (click)="close()">Register</a>
      <a routerLink="/me/profile" routerLinkActive="active" (click)="close()">My Profile</a>
    </nav>

  </div>


  <div class="mobile" *ngIf="isOpen()">
    <a routerLink="/professionals" routerLinkActive="active" (click)="close()">Professionals</a>
    <a routerLink="/login" routerLinkActive="active" (click)="close()">Login</a>
    <a routerLink="/register" routerLinkActive="active" (click)="close()">Register</a>
    <a routerLink="/me/profile" routerLinkActive="active" (click)="close()">My Profile</a>
  </div>
</header>
