<h2>Editar perfil</h2>

<form (ngSubmit)="submit()" #f="ngForm">
  <label>Nombre completo
    <input [(ngModel)]="model.fullName" type="text" name="fullName" required />
  </label>

  <label>Email
    <input [(ngModel)]="model.email" name="email" type="email" required />
  </label>

  <label>Teléfono
    <input [(ngModel)]="model.phone"  type="text"  name="phone" />
  </label>

  <label>Descripción de servicios
    <textarea [(ngModel)]="model.servicesDescription" name="servicesDescription" required></textarea>
  </label>

  <label>Tarifa
    <input [(ngModel)]="model.rate" name="rate" type="number" step="0.01" />
  </label>



  <label>Foto de Perfil</label>
  <div>
    <img *ngIf="avatarPreview" [src]="avatarPreview" alt="avatar" class="avatar"/>
    <input type="file" accept="image/*" (change)="onAvatarChange($event)" [disabled]="uploadingAvatar"/>
  </div>


  <label>Fotos de Galería</label>
  <div>
    <input type="file" accept="image/*" multiple (change)="onGalleryChange($event)" [disabled]="uploadingGallery"/>
    <div class="grid">
      <div *ngFor="let src of galleryPreviews; let i = index" class="thumb">
        <img [src]="src" alt="gallery"/>
        <button type="button" (click)="removeGalleryItem(i)">Quitar</button>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="f.invalid || uploadingAvatar || uploadingGallery">
    Guardar cambios
  </button>
</form>
